USE [master]
GO
/****** Object:  Database [LuxeGroomDB]    Script Date: 3/30/2026 10:33:17 PM ******/
CREATE DATABASE [LuxeGroomDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LuxeGroomDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LuxeGroomDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LuxeGroomDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LuxeGroomDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LuxeGroomDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LuxeGroomDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/30/2026 10:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 3/30/2026 10:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminId] [varchar](20) NOT NULL,
	[FullName] [varchar](150) NOT NULL,
	[Gmail] [varchar](150) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/30/2026 10:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [nvarchar](20) NOT NULL,
	[Firstname] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[ManagedBy] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 3/30/2026 10:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[id] [nvarchar](20) NOT NULL,
	[owner_name] [nvarchar](100) NOT NULL,
	[pet_name] [nvarchar](100) NOT NULL,
	[grooming_style] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[reservation_date] [date] NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[customer_id] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 3/30/2026 10:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [varchar](20) NOT NULL,
	[FullName] [varchar](150) NOT NULL,
	[Gmail] [varchar](150) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Status] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/30/2026 10:33:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [varchar](20) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Gmail] [nvarchar](150) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[ResetCode] [nvarchar](6) NULL,
	[ResetCodeExpiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260325051508_SyncExistingTables', N'9.0.3')
GO
INSERT [dbo].[Customers] ([CustomerId], [Firstname], [Email], [Phone], [Username], [Password], [ManagedBy], [CreatedAt]) VALUES (N'CUST-1', N'Miguel', N'miguelbansay@gmail.com', N'09878667893', N'miguel', N'$2a$11$tGVjtdvwn3sa2.DrM7.XPeWF79iKdJOrV2XKdRdUbaDo7UgA0lsA2', N'JM', CAST(N'2026-03-19T09:40:31.713' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [Firstname], [Email], [Phone], [Username], [Password], [ManagedBy], [CreatedAt]) VALUES (N'CUST-2', N'Rics', N'heinrich.mishov@gmail.com', N'09898778947', N'rics', N'$2a$11$1TfRpAeOxhyhoZLrI3J//erZ2y2H8DcoKgJFkL.IeOgIN9rRYWI9O', N'JM', CAST(N'2026-03-19T10:30:37.607' AS DateTime))
INSERT [dbo].[Customers] ([CustomerId], [Firstname], [Email], [Phone], [Username], [Password], [ManagedBy], [CreatedAt]) VALUES (N'CUST-3', N'Romnick Reyes', N'romnickreyesgreat@gmail.com', N'09111111111', N'romnickreyes', N'$2a$11$.543Smi4TCQPpWvBJf71cO55erdkEPP/XJpSux6vbJsFPh4G3iouu', N'JM', CAST(N'2026-03-19T10:50:56.073' AS DateTime))
GO
INSERT [dbo].[Reservations] ([id], [owner_name], [pet_name], [grooming_style], [phone], [email], [reservation_date], [status], [customer_id]) VALUES (N'RES-1', N'Miguel', N'TOYTOY', N'Bath & Brush', N'09878667893', N'miguelbansay@gmail.com', CAST(N'2026-03-20' AS Date), N'Approved', NULL)
INSERT [dbo].[Reservations] ([id], [owner_name], [pet_name], [grooming_style], [phone], [email], [reservation_date], [status], [customer_id]) VALUES (N'RES-2', N'Rics', N'petsrics', N'Full Groom', N'09898778947', N'heinrich.mishov@gmail.com', CAST(N'2026-03-20' AS Date), N'Approved', NULL)
INSERT [dbo].[Reservations] ([id], [owner_name], [pet_name], [grooming_style], [phone], [email], [reservation_date], [status], [customer_id]) VALUES (N'RES-3', N'Romnick Reyes', N'Rom', N'Full Groom', N'09111111111', N'romnickreyesgreat@gmail.com', CAST(N'2000-05-02' AS Date), N'Approved', NULL)
GO
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Gmail], [Role], [Status], [DateCreated], [PhoneNumber], [ResetCode], [ResetCodeExpiry]) VALUES (N'ADM-1', N'admin', N'$2a$11$8ctbiJQwcU/k/HiOiiuMxukHKyQh9waTu5pjDxDhvkMfa9gKg1fFW', N'admin@luxegroom.com', N'Admin', N'Inactive', CAST(N'2026-03-01T00:56:47.503' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Gmail], [Role], [Status], [DateCreated], [PhoneNumber], [ResetCode], [ResetCodeExpiry]) VALUES (N'ADM-2', N'JM', N'$2a$11$evGFK416xkdhL06gxrCrBe/tKPdvX4/y7dW7oetd617jkUzHrSTU.', N'ccs.jaysonmiguel@gmail.com', N'Admin', N'Active', CAST(N'2026-03-10T18:02:54.657' AS DateTime), N'09121664675', NULL, NULL)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [Gmail], [Role], [Status], [DateCreated], [PhoneNumber], [ResetCode], [ResetCodeExpiry]) VALUES (N'CUST-1', N'miguel', N'$2a$11$tGVjtdvwn3sa2.DrM7.XPeWF79iKdJOrV2XKdRdUbaDo7UgA0lsA2', N'miguelbansay@gmail.com', N'Customer', N'Active', CAST(N'2026-03-19T09:40:31.640' AS DateTime), N'09878667893', NULL, NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E450D7833E]    Script Date: 3/30/2026 10:33:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__B488B103261A99EE]    Script Date: 3/30/2026 10:33:18 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Gmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Admin] ADD  CONSTRAINT [DF_Admin_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_Status]  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [DateCreated]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Users] FOREIGN KEY([AdminId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Users]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Users] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Users]
GO
USE [master]
GO
